<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Elementor Automate</title>
  </head>
  <body>
    <h1>WP Elementor Blog Automation</h1>
    <div>
      <h2>WP Credentials</h2>
      <form method="post" action="/check_wp_cred">
        <label for="site">Wordpress Site</label>
        <input type="text" placeholder="www.example.com" name="site" />
        <label for="username">WP Username:</label>
        <input type="text" placeholder="wpAdmin" name="username" />
        <label for="account_password">WP Account Password:</label>
        <input
          placeholder="x4Jp n0KQ VZcA 2Lm8 D7wF mYtE"
          name="account_password"
        />
        <button type="submit">Continue</button>
      </form>
    </div>
  </body>
</html>
