<!-- This is a template file for future pages. Make sure to change the title -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <title>Template</title>
  </head>
  <body>
    <h1>WP Elementor Blog Automation</h1>
    <div class="temp-border container flex flex-col">
      <h3 class="center">[Heading - update to whatever fits the page]</h3>
      <p class="center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. test Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
        Praesent libero. Sed cursus ante dapibus diam.
      </p>
    </div>
  </body>
</html>
